<%- include("partials/header") -%>

<div class="outer-elements">
<div class="sidepane">
  <div class="logo flex-item">
    <img class="logo-img" src="/images/books_icon.png" alt="Books_Logo"><p class="logo-heading">LMS</p>
  </div>
  <div class="flex-item">
  <a href="/home" class="home"><i class="fas fa-home fa-sm icon"></i>Home</a>
  </div>
  <hr>
  <div class="flex-item">
    <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="books" class="books"><i data-value="books" class="fas fa-book fa-sm icon"></i>Books<i data-value="books" class="fas fa-sort-down fa-sm down-icon"></i></a>
    <ul>
      <li><a class="selected" href="/all_books">All Books</a></li>
      <li><a href="/my_books">My Books</a></li>
    </ul>
  </div>
  <hr>
  <div class="flex-item">
    <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="request-book" class="request-book"><i data-value="request-book" class="fa fa-hand-o-up fa-sm icon" aria-hidden="true"></i>Requests<i data-value="request-book" class="fas fa-sort-down fa-sm down-icon"></i></a>
    <ul class="active">
      <li><a href="/request_a_book">Request a Book</a></li>
      <li><a href="/view_requests">View Requests</a></li>
    </ul>
  </div>
<hr>
<div class="flex-item">
  <a href="/user_profile" class="user-info"><i class="fas fa-user-circle fa-sm icon"></i>My Info</a>
</div>
<hr>
</div>
<div class="copyright">
  &copy; 2020
</div>
</div>

<div class="outer-div">
</div>
<div class="search-bar">
  <form class="" action="/all_books_list/search" method="POST">
    <input class="search-text" autocomplete="off" type="text" name="search_text" placeholder="Search a Book">
    <button class="search-icon" onclick="this.form.submit()"><i class="fas fa-search fa-lg s-icon"></i></button>
  </form>
</div>
<hr class="hr-rule">
<div class="view">
<a href="/all_books"><i class="fas fa-th-large fa-lg l-icon"></i></a>
<a href="/all_books_list"><i class="fas fa-bars fa-lg l-icon selected"></i></a>
</div>
<div class="log-out" onclick="location.href = '/logout'">
  <a class="log-out-text" href="/logout"><i class="fas fa-sign-out-alt icon-lg"></i>Logout</a>
</div>
<a href="/guide/others#all-books-guide" target="_blank" class="help"><i class="fas fa-question fa-lg"></i></a>


<div class="books-table">
  <table>
    <tr>
      <th>Book Cover</th>
      <th>Book Name</th>
      <th>Book ID</th>
      <th>Author Name</th>
      <th>Price</th>
      <th>Issue</th>
    </tr>
    <% if(allBooks && issuedBooks){ %>
    <% allBooks.forEach((allbook) => { %>
      <% var bookAdded = false; %>
      <% issuedBooks.forEach((book) => { %>
      <%   if(allbook.book_name === book.book_name && allbook.author_name === book.author_name){ %>
      <tr>
        <form  action="/all_books/issue" method="POST">
        <td><img class="book-img-list" src="<%= allbook.book_cover_url %>" alt="coding-book"></td>
        <td><p class="book-name-list"><%= allbook.book_name %></p></td>
        <td><p><%= allbook.book_id %></p></td>
        <td><p class="author-name-list"><%= allbook.author_name %></p></td>
        <td><p><%= allbook.price %></p></td>
        <% const bookDetails = [allbook.book_name, allbook.author_name, allbook.price, allbook.book_cover_url]; %>
        <td><button title="This Book has already been issued!" disabled class="disabled-button-list" value="<%= bookDetails %>" type="submit" name="issue">Issue</button></td>
        </form>
      </tr>
        <%  bookAdded = true; %>
        <%  } %>
        <% }); %>
        <% if(bookAdded === false) { %>
         <tr>
           <form  action="/all_books/issue" method="POST">
           <td><img class="book-img-list" src="<%= allbook.book_cover_url %>" alt="coding-book"></td>
           <td><p class="book-name-list"><%= allbook.book_name %></p></td>
           <td><p><%= allbook.book_id %></p></td>
           <td><p class="author-name-list"><%= allbook.author_name %></p></td>
           <td><p><%= allbook.price %></p></td>
           <% const bookDetails = [allbook.book_name, allbook.author_name, allbook.price, allbook.book_cover_url]; %>
           <td><button class="issue-button-list" value="<%= bookDetails %>" type="submit" name="issue">Issue</button></td>
           </form>
         </tr>
         <% }%>
      <% }); %>
    <% } else if(allBooks) {%>
        <% allBooks.forEach((allbook) => { %>
          <tr>
            <form  action="/all_books/issue" method="POST">
            <td><img class="book-img-list" src="<%= allbook.book_cover_url %>" alt="coding-book"></td>
            <td><p class="book-name-list"><%= allbook.book_name %></p></td>
            <td><p><%= allbook.book_id %></p></td>
            <td><p class="author-name-list"><%= allbook.author_name %></p></td>
            <td><p><%= allbook.price %></p></td>
            <% const bookDetails = [allbook.book_name, allbook.author_name, allbook.price, allbook.book_cover_url]; %>
            <td><button class="issue-button-list" value="<%= bookDetails %>" type="submit" name="issue">Issue</button></td>
            </form>
          </tr>
          <% }); %>
          <% } %>
  </table>
</div>

<%- include("partials/footer") -%>
