<%- include("partials/header") -%>

<div class="sidepane">
  <div class="logo flex-item">
    <img class="logo-img" src="/images/books_icon.png" alt="Books_Logo"><p class="logo-heading">LMS</p>
  </div>
  <div class="flex-item">
  <a href="/admin/home" class="home"><i class="fas fa-home fa-sm icon"></i>Home</a>
  </div>
  <hr>
  <div class="flex-item">
    <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="books" class="books"><i data-value="books" class="fas fa-book fa-sm icon"></i>Books<i data-value="books" class="fas fa-sort-down fa-sm down-icon"></i></a>
    <ul class="active">
      <li><a href="/admin/add_book">Add Book</a></li>
      <li><a href="/admin/issued_books">Issued Books</a></li>
      <li><a href="/admin/all_books">All Books</a></li>
    </ul>
  </div>
  <hr>
  <div class="flex-item">
    <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="request-book" class="request-book"><i data-value="request-book" class="fa fa-hand-o-up fa-sm icon" aria-hidden="true"></i>Requests<i data-value="request-book" class="fas fa-sort-down fa-sm down-icon"></i></a>
    <ul class="active">
      <li><a href="/admin/all_book_requests">All Book Requests</a></li>
    </ul>
  </div>
<hr>
<div class="flex-item">
  <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="users" class="users"><i data-value="users" class="fas fa-users fa-sm icon"></i>Users<i data-value="users" class="fas fa-sort-down fa-sm down-icon"></i></a>
  <ul>
    <li><a class="selected" href="/admin/all_users">All Users</a></li>
    <li><a href="/admin/add_user">Add a user</a></li>
  </ul>
</div>
<hr>
<div class="flex-item">
  <a href="/admin/user_profile" class="user-info"><i class="fas fa-user-circle fa-sm icon"></i>My Info</a>
</div>
<hr>
</div>
<div class="copyright">
  &copy; 2020
</div>
<hr class="hr-rule">
<div class="log-out" onclick="location.href = '/logout'">
  <a class="log-out-text" href="/logout"><i class="fas fa-sign-out-alt icon-lg"></i>Logout</a>
</div>
  <a href="/guide/admin#all-users-guide" class="help"><i class="fas fa-question fa-lg"></i></a>

<div class="all-users-table">
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Member Type</th>
      <th>Remove User</th>
    </tr>
    <% users.forEach((user) => { %>
      <tr>
        <form action="/admin/all_users" method="POST">
        <td><p class="user-name"><%= user.first_name %></p></td>
        <td><p class="user-name"><%= user.last_name %></p></td>
        <td><p class="email"><%= user.email %></p></td>
        <td><p class="member-type"><%= user.member_type %></p></td>
        <% if(loggedInUser === user.email){ %>
          <td><button disabled class="delete-user-btn" type="submit" value="<%= user._id %>" name="del_user_button"><i class="fas fa-trash-alt fa-lg del-btn disabled-btn"></i></button></td>
        <% } else { %>
          <td><button class="delete-user-btn" type="submit" value="<%= user._id %>" name="del_user_button"><i class="fas fa-trash-alt fa-lg del-btn"></i></button></td>
        <% } %>
        </form>
      </tr>
    <% }); %>
  </table>
</div>

<%- include("partials/footer") -%>
