<%- include("partials/header") -%>

  <div class="sidepane">
    <div class="logo flex-item">
      <img class="logo-img" src="/images/books_icon.png" alt="Books_Logo"><p class="logo-heading">LMS</p>
    </div>
    <div class="flex-item">
    <a href="/admin/home" class="home"><i class="fas fa-home fa-sm icon"></i>Home</a>
    </div>
    <hr>
    <div class="flex-item">
      <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="books" class="books"><i data-value="books" class="fas fa-book fa-sm icon"></i>Books<i data-value="books" class="fas fa-sort-down fa-sm down-icon"></i></a>
      <ul>
        <li><a href="/admin/add_book">Add Book</a></li>
        <li><a class="selected" href="/admin/issued_books">Issued Books</a></li>
        <li><a href="/admin/all_books">All Books</a></li>
      </ul>
    </div>
    <hr>
    <div class="flex-item">
      <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="request-book" class="request-book"><i data-value="request-book" class="fa fa-hand-o-up fa-sm icon" aria-hidden="true"></i>Requests<i data-value="request-book" class="fas fa-sort-down fa-sm down-icon"></i></a>
      <ul class="active">
        <li><a href="/admin/all_book_requests">All Book Requests</a></li>
      </ul>
    </div>
  <hr>
  <div class="flex-item">
    <a href="javascript:void(0)" onclick="showSubMenu(event)" data-value="users" class="users"><i data-value="users" class="fas fa-users fa-sm icon"></i>Users<i data-value="users" class="fas fa-sort-down fa-sm down-icon"></i></a>
    <ul class="active">
      <li><a href="/admin/all_users">All Users</a></li>
      <li><a href="/admin/add_user">Add a user</a></li>
    </ul>
  </div>
  <hr>
  <div class="flex-item">
    <a href="/admin/user_profile" class="user-info"><i class="fas fa-user-circle fa-sm icon"></i>My Info</a>
  </div>
  <hr>
  </div>
  <div class="copyright">
    &copy; 2020
  </div>
  <div class="log-out" onclick="location.href = '/logout'">
    <a class="log-out-text" href="/logout"><i class="fas fa-sign-out-alt icon-lg"></i>Logout</a>
  </div>
    <a href="/guide/admin#issued-books-guide" class="help"><i class="fas fa-question fa-lg"></i></a>

  <div class="search-bar">
    <form class="" action="/admin/issued_books/search" method="post">
      <input class="search-text" type="text" autocomplete="off" name="search_text" placeholder="Search a Book">
      <button class="search-icon" onclick="this.form.submit()"><i class="fas fa-search fa-lg s-icon"></i></button>
    </form>
  </div>
  <hr class="hr-rule">
  <div class="view">
  <a href="/admin/issued_books"><i class="fas fa-th-large fa-lg l-icon selected"></i></a>
  <a href="/admin/issued_books_list"><i class="fas fa-bars fa-lg l-icon"></i></a>
  </div>

  <div class="grid-parent">
    <% issuedBooks.forEach((book) => { %>
      <% const issuedDate = book.issued_date.getDate() + "/" + (book.issued_date.getMonth() + 1) + "/" + book.issued_date.getFullYear() %>
      <% const returnDate = book.return_date.getDate() + "/" + (book.return_date.getMonth() + 1) + "/" + book.return_date.getFullYear() %>
      <div class="grid-child">
        <img class="book-img" src="<%= book.book_cover %>" alt="coding-book">
        <p class="book-name"><span>Book Name : </span> <%= book.book_name %> </p>
        <p class="author-name"><span>Author Name : </span> <%= book.author_name %></p>
        <p class="book-price-admin"><span>Price : </span> <%= book.price %></p>
        <p class="issued-date"><span>Issued Date : </span> <%= issuedDate %></p>
        <p class="return-date"><span>Return Date : </span> <%= returnDate %></p>
      </div>
    <% }); %>
  </div>
<%- include("partials/footer") -%>
